[project]
	description = [Deprecated]
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marco Jantke (marco-jantke)
[access "refs/for/refs/*"]
	read = group user/Marco Jantke (marco-jantke)
	push = group user/Marco Jantke (marco-jantke)
	label-Code-Review = -2..+2 group user/Marco Jantke (marco-jantke)
	label-Verified = -1..+1 group user/Marco Jantke (marco-jantke)
	rebase = group user/Marco Jantke (marco-jantke)
	removeReviewer = group user/Marco Jantke (marco-jantke)
	submit = group user/Marco Jantke (marco-jantke)
[access "refs/heads/*"]
	read = group user/Marco Jantke (marco-jantke)
	create = group user/Marco Jantke (marco-jantke)
	push = +force group user/Marco Jantke (marco-jantke)
	pushMerge = group user/Marco Jantke (marco-jantke)
[access "refs/tags/*"]
	push = group user/Marco Jantke (marco-jantke)
	push = +force group user/Marco Jantke (marco-jantke)
